<div id="main" class="layout-row">
  <div id="content" class="layout-column flex">
<mat-toolbar class="navbar">
  <div>Academia - Academic Web Services</div>
  <div>
    <span>at8113   <mat-icon>account_circle</mat-icon> </span>
  </div>
</mat-toolbar>
</div>
<div class="content">
    <div class="nav-menu">
        <div class="nav-links">
            <a>CIRCULAR <span>></span></a><br>
            <a>WELCOME <span>></span></a><br>
            <a>Student Profile <span>></span></a><br>
            <a>Academic Reports <span>></span></a><br>
            <a>Student <span>></span></a><br>
            <a>Unified Time Table <span>></span></a><br>
            <a>Course Feedback <span>></span></a><br>
            <a>New Regulation <span>></span></a><br>
            <a>My Time Table & Attendance <span>></span></a><br>
            <a>Student Services <span>></span></a>
        </div>
    </div>

</div>
</div>
<div class="complete-page">
<p class="intro" style="color: blue;"><mark >Date:02-Mar-22</mark> <br>
<mark >Day Order:5</mark><br><br>

  Early symptoms of Covid-19 - Sore throat, dry cough, fever, cold, loss of smell, loss of taste etc. If any of the above symptoms are noticed contact emergency helpline.
  <br><br>
  Emergency Contact :- <mark >044 - 2 7 4 5 2 7 2 7</mark>
  <br><br>
  Mobile: :- <mark >9 7 8 9 8 8 8 4 5 3 / 9 9 4 0 0 9 6 0 1 2</mark>
</p>
<div class="img1">
<img src="https://i.postimg.cc/fLqZSndF/academia-new.jpg" alt="No image found">
</div>
<pre class="para2">
  SRM Academia is the Official Student/Parent Portal of SRM's Faculty of Engineering and 
  
  Technology which aims at providing a better experience to the students to access the academic web
  
  services. The portal is a gateway to your academic information such as attendance, internal marks,
  
  timetable, etc.
</pre>

<div class="img1">
<img src="https://i.postimg.cc/LXkqfsDX/academia-2.jpg" alt="No image found">
</div>
</div>